*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Courier New', Courier, monospace;
}

.site-header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.site-header-container{
    width: 75%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: #F9FAF8;
    margin: 3px;
}

header nav a:hover{
    text-decoration: underline;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sign-up{
    width: 50%;
}

.sign-up button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 24px;
    padding: 10px 20px;
}


.header-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header-image img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary{
    font-size: 24px;
    color: #E5E7EB;
}

.info-row img{
    max-width: 100%;
    height: auto;
}