*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Courier New', Courier, monospace;
}

.site-header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.site-header-container{
    width: 75%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: #F9FAF8;
    margin: 3px;
}

header nav a:hover{
    text-decoration: underline;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sign-up{
    width: 50%;
}

.sign-up button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 24px;
    padding: 10px 20px;
}


.header-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header-image img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary{
    font-size: 24px;
    color: #E5E7EB;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    margin-top: 25px;
}

.info-container{
    display: flex;
    flex-direction: row;
    width: 85%;
    min-height: 200px;
    margin: 100px 100px;
}

.info-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.info-img{
    display: flex;
    border:1px solid #3882F6;
    border-radius: 10px;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.info-text{
    text-align:center;
    width: 100%;
}

.quote{
    background-color: #E5E7EB;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote-source{
    align-self: flex-end;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 70px 0px;
}

.call-to-action-container{
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    padding: 30px 50px;
    justify-content: space-between;
}

.call-to-action-text{
    color: #E5E7EB;
    width: 65%;
}

.call-to-action-button{
    color: #E5E7EB;
    border-color: #E5E7EB;
    background-color: #3882F6;
    border:1px solid #E5E7EB;
    padding: 2px 25px;
    border-radius: 5px;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 25px 25px;
    color: #E5E7EB;
}